/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.radio-group input {
    width: 16px;
    height: 16px;
}

.form-group.checkbox-group {
    display: flex;
}

nav .logo img {
    width: 50px;
}

div.form-left {
    margin-right: 20px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .nav-links li {
    display: inline-block;
}

nav .nav-links li a {
    color: #333;
    font-size: 16px;
}

/* Order Form Section */
.order-form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.order-form-container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-left {
    flex: 1;
    padding: 20px;
}

.form-left h1 {
    color: #FF6347;
    font-size: 36px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.form-group.text-input input {
    width: 100%;
}

.form-group input,
.form-group select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.checkbox-group label {
    font-size: 14px;
}

.checkbox-group input {
    margin-right: 5px;
}

.btn-order {
    background-color: #FF6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-order:hover {
    background-color: #ff5030;
}

/* Right-side Image */
.form-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-right img {
    max-width: 100%;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 24px;
}